@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-800 antialiased bg-gray-50;
  }
}

.section-padding {
  @apply py-16 md:py-24;
}

.container-wrapper {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}